<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GameLauncher_Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.976" newVersion="2.0.4.976" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <GameLauncher_Console.Properties.Settings>
      <setting name="flag_prevent_exit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_do_not_save_interface_changes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_always_scan_for_new_games" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_only_allow_command_line" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_typing_input_is_default" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_single_column_list_is_default" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_do_not_split_over_pages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_enlarge_height_to_fit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_sort_alphabetically" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_sort_favourites_on_top" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_sort_not_installed_on_bottom" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="flag_colour_light_mode_is_default" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_always_show_all_games" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_do_not_show_settings_in_platform_list" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="flag_do_not_scan_not_installed_games" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_only_scan_custom_games" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_text_use_custom_text_values" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_image_draw_border_characters" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_image_do_not_use_custom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_image_ignore_custom_aspect_ratio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_image_use_legacy_background_colours" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flag_image_do_not_do_deep_scan_for_icons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="num_list_icons_max_size_in_characters" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="num_list_icons_resolution" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="num_selected_image_max_size_in_characters" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="num_selected_image_icon_resolution" serializeAs="String">
        <value>96</value>
      </setting>
      <setting name="num_selected_image_y_location_percent" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="num_grid_text_min_column_characters" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="num_steam_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="colour_background" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="colour_background_lightmode" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="colour_title" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="colour_title_lightmode" serializeAs="String">
        <value>DarkBlue</value>
      </setting>
      <setting name="colour_subtitle" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="colour_subtitle_lightmode" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="colour_entries" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="colour_entries_lightmode" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="colour_entries_not_installed" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="colour_entries_not_installed_lightmode" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="colour_highlight_background" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="colour_highlight_background_lightmode" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="colour_highlight_text" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="colour_highlight_text_lightmode" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="colour_input_background" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="colour_input_background_lightmode" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="colour_input_prompt" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="colour_input_prompt_lightmode" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="colour_error_background" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="colour_error_background_lightmode" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="colour_error_text" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="colour_error_text_lightmode" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="key_left_1" serializeAs="String">
        <value>LeftArrow</value>
      </setting>
      <setting name="key_left_2" serializeAs="String">
        <value>NumPad4</value>
      </setting>
      <setting name="key_up_1" serializeAs="String">
        <value>UpArrow</value>
      </setting>
      <setting name="key_up_2" serializeAs="String">
        <value>NumPad8</value>
      </setting>
      <setting name="key_right_1" serializeAs="String">
        <value>RightArrow</value>
      </setting>
      <setting name="key_right_2" serializeAs="String">
        <value>NumPad6</value>
      </setting>
      <setting name="key_down_1" serializeAs="String">
        <value>DownArrow</value>
      </setting>
      <setting name="key_down_2" serializeAs="String">
        <value>NumPad2</value>
      </setting>
      <setting name="key_select_1" serializeAs="String">
        <value>Enter</value>
      </setting>
      <setting name="key_select_2" serializeAs="String">
        <value>NumPad5</value>
      </setting>
      <setting name="key_exit_1" serializeAs="String">
        <value>Escape</value>
      </setting>
      <setting name="key_exit_2" serializeAs="String">
        <value>Q</value>
      </setting>
      <setting name="key_rescan_1" serializeAs="String">
        <value>F5</value>
      </setting>
      <setting name="key_rescan_2" serializeAs="String">
        <value>S</value>
      </setting>
      <setting name="key_help_1" serializeAs="String">
        <value>F1</value>
      </setting>
      <setting name="key_help_2" serializeAs="String">
        <value>H</value>
      </setting>
      <setting name="key_back_1" serializeAs="String">
        <value>Backspace</value>
      </setting>
      <setting name="key_back_2" serializeAs="String">
        <value>R</value>
      </setting>
      <setting name="key_pageup_1" serializeAs="String">
        <value>PageUp</value>
      </setting>
      <setting name="key_pageup_2" serializeAs="String">
        <value>NumPad9</value>
      </setting>
      <setting name="key_pagedown_1" serializeAs="String">
        <value>PageDown</value>
      </setting>
      <setting name="key_pagedown_2" serializeAs="String">
        <value>NumPad3</value>
      </setting>
      <setting name="key_first_1" serializeAs="String">
        <value>Home</value>
      </setting>
      <setting name="key_first_2" serializeAs="String">
        <value>NumPad7</value>
      </setting>
      <setting name="key_last_1" serializeAs="String">
        <value>End</value>
      </setting>
      <setting name="key_last_2" serializeAs="String">
        <value>NumPad1</value>
      </setting>
      <setting name="key_launcher_1" serializeAs="String">
        <value>NoName</value>
      </setting>
      <setting name="key_launcher_2" serializeAs="String">
        <value>L</value>
      </setting>
      <setting name="key_settings_1" serializeAs="String">
        <value>NoName</value>
      </setting>
      <setting name="key_settings_2" serializeAs="String">
        <value>C</value>
      </setting>
      <setting name="key_search_1" serializeAs="String">
        <value>F3</value>
      </setting>
      <setting name="key_search_2" serializeAs="String">
        <value>Oem2</value>
      </setting>
      <setting name="key_autocomplete_1" serializeAs="String">
        <value>Tab</value>
      </setting>
      <setting name="key_autocomplete_2" serializeAs="String">
        <value>NoName</value>
      </setting>
      <setting name="key_cancel_1" serializeAs="String">
        <value>Escape</value>
      </setting>
      <setting name="key_cancel_2" serializeAs="String">
        <value>NoName</value>
      </setting>
      <setting name="key_new_game_1" serializeAs="String">
        <value>OemPlus</value>
      </setting>
      <setting name="key_new_game_2" serializeAs="String">
        <value>N</value>
      </setting>
      <setting name="key_delete_1" serializeAs="String">
        <value>Delete</value>
      </setting>
      <setting name="key_delete_2" serializeAs="String">
        <value>NoName</value>
      </setting>
      <setting name="key_uninstall_1" serializeAs="String">
        <value>F9</value>
      </setting>
      <setting name="key_uninstall_2" serializeAs="String">
        <value>NoName</value>
      </setting>
      <setting name="key_make_shortcuts_1" serializeAs="String">
        <value>F8</value>
      </setting>
      <setting name="key_make_shortcuts_2" serializeAs="String">
        <value>NoName</value>
      </setting>
      <setting name="key_hide_game_1" serializeAs="String">
        <value>F10</value>
      </setting>
      <setting name="key_hide_game_2" serializeAs="String">
        <value>NoName</value>
      </setting>
      <setting name="key_favourite_1" serializeAs="String">
        <value>F12</value>
      </setting>
      <setting name="key_favourite_2" serializeAs="String">
        <value>F</value>
      </setting>
      <setting name="key_set_alias_1" serializeAs="String">
        <value>F2</value>
      </setting>
      <setting name="key_set_alias_2" serializeAs="String">
        <value>Oem7</value>
      </setting>
      <setting name="key_input_type_1" serializeAs="String">
        <value>Oem5</value>
      </setting>
      <setting name="key_input_type_2" serializeAs="String">
        <value>NoName</value>
      </setting>
      <setting name="key_grid_view_1" serializeAs="String">
        <value>Oem4</value>
      </setting>
      <setting name="key_grid_view_2" serializeAs="String">
        <value>Oem6</value>
      </setting>
      <setting name="key_light_mode_1" serializeAs="String">
        <value>F6</value>
      </setting>
      <setting name="key_light_mode_2" serializeAs="String">
        <value>NoName</value>
      </setting>
      <setting name="key_image_display_1" serializeAs="String">
        <value>F4</value>
      </setting>
      <setting name="key_image_display_2" serializeAs="String">
        <value>NoName</value>
      </setting>
      <setting name="key_sort_method_1" serializeAs="String">
        <value>F7</value>
      </setting>
      <setting name="key_sort_method_2" serializeAs="String">
        <value>NoName</value>
      </setting>
      <setting name="text_main_menu_title" serializeAs="String">
        <value>Main Menu</value>
      </setting>
      <setting name="text_settings_title" serializeAs="String">
        <value>Settings</value>
      </setting>
      <setting name="text_browse_title" serializeAs="String">
        <value>Browse for folder</value>
      </setting>
      <setting name="text_root_folder" serializeAs="String">
        <value>This PC</value>
      </setting>
      <setting name="text_select_folder" serializeAs="String">
        <value>SELECT THIS FOLDER</value>
      </setting>
      <setting name="text_create_folder" serializeAs="String">
        <value>CREATE FOLDER HERE</value>
      </setting>
      <setting name="text_instruct1_platforms_nav_custom_msg" serializeAs="String">
        <value> Select a platform.</value>
      </setting>
      <setting name="text_instruct2_platforms_nav_custom_msg" serializeAs="String">
        <value> Press [Q] to exit;\n Press [S] to rescan game collection;\n Press H for help.</value>
      </setting>
      <setting name="text_instruct1_games_nav_custom_msg" serializeAs="String">
        <value> Select a game.</value>
      </setting>
      <setting name="text_instruct2_games_nav_custom_msg" serializeAs="String">
        <value> Press [Q] to exit;\n Press [R] to return to previous menu;\n Press [F] to add/remove from favourites.</value>
      </setting>
      <setting name="text_instruct1_platforms_type_custom_msg" serializeAs="String">
        <value> Type name of a platform.</value>
      </setting>
      <setting name="text_instruct2_platforms_type_custom_msg" serializeAs="String">
        <value> Enter \'/exit\' to quit;\n Enter \'/help\' for more commands.</value>
      </setting>
      <setting name="text_instruct1_games_type_custom_msg" serializeAs="String">
        <value> Type title of a game.</value>
      </setting>
      <setting name="text_instruct2_games_type_custom_msg" serializeAs="String">
        <value> Enter \'/exit\' to quit;\n Enter \'/back\' to return to previous.</value>
      </setting>
    </GameLauncher_Console.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>